:root {
  --background-color: #4143b1;
  --primary-color: #5ef4d6;
  --soft-white: #f1fff6;
  --secondary-color: #191f26;
  --secondary-bg-color: #221727;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--soft-white);
  font-family: 'Viga', sans-serif;
}
/* TODO: Rushing -> Go back and add classes. */
section {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-content: center;
  min-height: 3vh;
  margin: 7%;
  color: var(--primary-color);
}

article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  min-height: 89vh;
  width: 70vw;
  background-color: var(--secondary-bg-color);
}
img {
  width: 69vw;
  height: 15vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
h1,
h4 {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 6%;
}
h4 {
  font-size: 1.25rem;
  font-weight: 200;
  height: 10vh;
}
main p {
  margin-bottom: 8%;
  font-size: 0.89rem;
  font-weight: 200;
}
/* Join Button */
a {
  width: 60vw;
  height: 6vh;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
a p {
  margin: 4%;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}

@media screen and (min-width: 768px) {
  h1 {
    min-height: 3vh;
    margin: 4%;
  }
  article {
    display: flex;
    flex-direction: row;
    width: 75vw;
    min-height: 69vh;
  }
  img {
    width: 40vw;
    height: 68.9vh;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
  }
  main {
    padding: 3%;
  }
  h4 {
    font-size: 1.95rem;
    height: 10vh;
    word-spacing: 7px;
  }
  main p {
    margin-bottom: 8%;
    font-size: 0.99rem;
    font-weight: 200;
    line-height: 3vh;
  }
  /* Join Button */
  a {
    width: 16vw;
    height: 4vh;
    margin: 0;
  }
  a p {
    margin: 2%;
    font-size: 1.2rem;
  }
}
