/** Broswer Reset -> Starts */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
  height: 100%;
}
/** Broswer Reset -> Ends */

:root {
  --body: 'Rubik', sans-serif;
  --header: 'Viga', sans-serif;
  --background-color: #4143b1;
  --background2-color: #221727;
  --primary-color: #5ef4d6;
  --primary2-color: #24e5a3;
  --body-font: #f1fff6;
  --secondary-color: #221727;
}

/*! Example Declaration Order*/
/** Position */
/** Box Modal */
/** Typography */
/** Visiual */

body {
  min-height: 100vh;
  font-family: var(--body);
  background-color: var(--background-color);
  color: var(--body-font);
}

.team {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-header {
  display: flex;
  place-items: center;
  height: 8rem;
  color: var(--primary-color);
}

.team-header {
  font-family: var(--header);
  text-transform: uppercase;
  font-size: 1.33rem;
}
.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 3rem 5rem 3rem;
  padding: 2rem;
  background-color: var(--background2-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.8rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-header {
  text-align: center;
  /* height: 1.5rem; */
}

article.card:nth-child(1) > header:nth-child(1) > h3:nth-child(2) {
 margin: .1rem;
}

.card img {
  /** TODO: Look into below for img positioning */
  transform:translateY(-50%);
  width: 10rem;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  border: 2px  solid var(--primary-color);
}

.card-name {
  font-family: var(--header);
  color: var(--primary-color);
  font-size: 1.5rem;
}

.card-title {
  color: var(--primary2-color);
  font-size: .65rem;
  font-weight: normal;
}

.card-body {
  height: 7rem;
  display: flex;
  place-items: center;
  text-align: center;
  font-size: 0.85rem;
}

.card-icons {
  display: flex;
}

.card-icons li {
  margin: 0.4rem;
  padding: 0.3rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.card-icon {
  height: 2.25rem;
  width: 2.25rem;
  stroke-width: 0.07rem;
}

#github {
  margin: 0.03rem 0.03rem auto 0.03rem;
  padding: 0.2rem 0.2rem 0 0.2rem;
  background-color: #5ef4d6;
  border-radius: 50%;
  fill: #221727;
  stroke: #221727;
}

#linkedin {
  color: #5ef4d6;
  fill: #5ef4d6;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
  }

  .card {
    margin: 0 1rem 0 1rem;
    
  }
}
